doctype html
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='MSKIM RESUME')
    meta(name='author', content='MSKIM brady')
    title MSKIM BRADY
    // Bootstrap core CSS
    link(href='/resume/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i', rel='stylesheet')
    link(href='/resume/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='/resume/vendor/devicons/css/devicons.min.css', rel='stylesheet')
    link(href='/resume/vendor/simple-line-icons/css/simple-line-icons.css', rel='stylesheet')

    // ICON
    // script(defer='', src='https://use.fontawesome.com/releases/v5.7.1/js/all.js', integrity='sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7', crossorigin='anonymous')

    // Custom styles for this template
    link(href='/resume/css/resume.min.css', rel='stylesheet')

    body#page-top
        // Left Side Bar Stuff
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none I don't know
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='/resume/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#object') Object
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link(href="https://github.com/bradykim7") Blog

        // Right Frame for expressing me
        .container-fluid.p-0
            // First Section
            section#about.resume-section.p-3.p-lg-5.d-flex.d-column
                .my-auto
                    h1.mb-0
                        | Minseok
                        span.text-primary  Kim
                    .subheading.mb-5
                        // 55, Cheongpa-ro 71ga-gil
                        | Yongsan-gu, Seoul, Republic of Korea &middot (82) 10-2074-6313 &middot
                        a(href='mailto:bradykim777@gmail.com') bradykim777@gmail.com
                    p.mb-5
                        | I am experienced in a variety of computer programming skills and environments. Ready to jump into any projects.
                        br
                        | High ability to absorb new things. Have experiences with Blockchain projects, for instance, Hyperledger Fabric and Ethereum.
                        br
                        | Communication is the most important thing to do before and after works.
                    ul.list-inline.list-social-icons.mb-0
                        li.list-inline-item
                            a(href='https://www.linkedin.com/in/minseok-kim-928412178/')
                                span.fa-stack.fa-lg
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fa.fa-linkedin.fa-stack-1x.fa-inverse
                        li.list-inline-item
                            a(href='https://github.com/bradykim7')
                                span.fa-stack.fa-lg
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fa.fa-github.fa-stack-1x.fa-inverse
            // Object part
            section#object.resume-section.p-3.p-lg-5.d-flex.flex-column
                .my-auto
                    h2.mb-5 Object
                        h3.mb-0 I WILL FAIL
                        p
                            |  We have to fail to move forward. It's natural that when trying something new and making mistakes or experiencing failures. I will fail without fear of it. However, I will not repeat it when meat again.

                        h3.mb-0 I WON'T COMPETE
                        p
                            | I think competition within the company is poison. I think it's the outside world that we really have to compete with. I will improve my ability not to gain my own advantage through internal competition, but to increase my value competition from outside the company.

                        h3.mb-0 I WON'T STOP
                        p
                            | I think the essential ability in the computer field is constant 'self-development'. New technologies are happening every day, and trends are changing rapidly. I'll be an 'Active engine that doesn't stop', trains myself to make the future a reality, and makes the future a reality.

                        h3.mb-0 BLOCKCHAIN
                        p
                            | I have experience with ‘Blockchain’. Specifically, I deal with not only the public chain(Ethereum, Tezos) and but also the private chain(Hyper Ledger Fabric).

                        h3.mb-0 NOT CODE
                        p
                            | I know CI/CD is important in the project because I had worked using GIT, JIRA, Slack, Trello. And also, because I worked as a Software QA Intern, I deeply understand TDD in the project.

            // Exprience And Projects
            section#experience.resume-section.p-3.p-lg-5.d-flex.flex-column
                .my-auto
                    h2.mb-5 Experience
                    .resume-item.d-flex.flex-column.flex-md-row.mb-5
                        .resume-content.mr-auto
                            h3.mb-0 Research & Development Intern
                            .subheading.mb-3 Apexsoft
                            p
                                | Working as R&D Research Intern, Made WebUI and Data Test Automation prototype with Selenium and Katalon Studio.
                                | Actually, I offered a job as a Q/A developer but I want a work another place and broaden my horizon. It was a great experience that gave me knowledge of TDD workflow and Q/A works. To build on that now I know a more effective way to make codes.
                        .resume-date.text-md-right
                            span.text-primary December 2019 - February 2020
                    .resume-item.d-flex.flex-column.flex-md-row.mb-5
                        .resume-content.mr-auto
                            h3.mb-0 Web & Hyperledger Fabric Network Developer
                            .subheading.mb-3 Hanium(LG CNS)
                            p
                                | Working with LG CNS developers and university students, using Hyperledger fabric to make a charity platform website.
                                | And this project was supported by the Ministry of Science and ICT, Korea.
                                br
                                | I developed Hyperledger Fabric full networks and chaincodes to submit the result of donating amounts and customers. If you want to see more
                                a(href="#")  Hyperledger products introducing things would be here.
                        .resume-date.text-md-right
                            span.text-primary April 2019 - October 2019
                    .resume-item.d-flex.flex-column.flex-md-row.mb-5
                        .resume-content.mr-auto
                            h3.mb-0 Junior frontend developer
                            .subheading.mb-3 PDFM(Please Do for me)
                            p
                                | Wordpress and Google STT(Speech to Text) API were used to develop shopping website.
                                | I developed entire website components and design.
                        .resume-date.text-md-right
                            span.text-primary December 2018 - February 2019
                    .resume-item.d-flex.flex-column.flex-md-row
                        .resume-content.mr-auto
                            h3.mb-0 Student
                            .subheading.mb-3 University Project
                            p
                                | It was the first project that I recruited my team members who were interested in blockchain. It was my first experience that searching for new technology own my self and leading my team.
                                | It was a small project that my programming skills and also communication skills.
                        .resume-date.text-md-right
                            span.text-primary April 2018 - October 2018

            // Educatoin Section
            section#education.resume-section.p-3.p-lg-5.d-flex.flex-column
                .my-auto
                    h2.mb-5 Education
                    .resume-item.d-flex.flex-column.flex-md-row.mb-5
                        .resume-content.mr-auto
                            h3.mb-0 University of Anyang, Republic of Korea
                            .subheading.mb-3 Bachelor of Science
                            div Computer Engineering - Network Engineering Track
                            p GPA: 3.65
                                br
                                |  Scholarships for top records & Scholarships for International student
                        .resume-date.text-md-right
                            span.text-primary Mar 2014 - Feb 2020

            // SKILLS
            section#skills.resume-section.p-3.p-lg-5.d-flex.flex-column
                .my-auto
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages &amp Tools
                    ul.list-inline.list-icons
                        li.list-inline-item
                            i.devicons.devicons-html5
                        li.list-inline-item
                            i.devicons.devicons-css3
                        li.list-inline-item
                            i.devicons.devicons-javascript
                        li.list-inline-item
                            i.devicons.devicons-jquery
                        li.list-inline-item
                            i.devicons.devicons-aws
                        li.list-inline-item
                            i.devicons.devicons-jira
                        li.list-inline-item
                            i.devicons.devicons-intellij
                    ul.list-inline.list-icons
                        li.list-inline-item
                            i.devicons.devicons-docker
                        li.list-inline-item
                            i.devicons.devicons-npm
                        li.list-inline-item
                            i.devicons.devicons-mongodb
                        li.list-inline-item
                            i.devicons.devicons-nodejs
                        li.list-inline-item
                            i.devicons.devicons-git
                        li.list-inline-item
                            i.devicons.devicons-java
                        li.list-inline-item
                            i.devicons.devicons-linux


                    .subheading.mb-3 Advantages
                    ul.fa-ul.mb-0
                        li
                            i.fa-li.fa.fa-check
                            |               Variety Field Experiences
                        li
                            i.fa-li.fa.fa-check
                            |               Communication Skills
                        li
                            i.fa-li.fa.fa-check
                            |               Multi Lingual (Korean & English)
                        li
                            i.fa-li.fa.fa-check
                            |               Agile Development


            section#interests.resume-section.p-3.p-lg-5.d-flex.flex-column
                .my-auto
                    h2.mb-5 Interests
                    p
                        | Apart from being a software developer,
                        | I enjoy most of my time being exercise. Every day, I enjoyed going to a gym and do powerlifting.
                        | Not even gym works, I enjoy skiing, swimming, basketball, etc.
                    p.mb-0
                        | Visiting all continents is my dream.
                        | I like to broaden my horizons through experiences from many cultures. So I traveled to many countries, England, U.S, Finland, Singapore, etc.
                        | See more at my git!
                        a(href="https://github.com/bradykim7")  blog sites


            //section#awards.resume-section.p-3.p-lg-5.d-flex.flex-column
                .my-auto
                    h2.mb-5 Awards &amp; Certifications
                    ul.fa-ul.mb-0
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |               Google Analytics Certified Developer
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |               Mobile Web Specialist - Google Certification
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |               1
                            sup st
                            |               Place - University of Colorado Boulder - Emerging Tech Competition 2009
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |               1
                            sup st
                            |               Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |               2
                            sup nd
                            |               Place - University of Colorado Boulder - Emerging Tech Competition 2008
                        li
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |               1
                            sup st
                            |               Place - James Buchanan High School - Hackathon 2006
                        li
                            i.fa-li.fa.fa-trophy.text-warning
                            |               3
                            sup rd
                            |               Place - James Buchanan High School - Hackathon 2005
        // Bootstrap core JavaScript
        script(src='/resume/vendor/jquery/jquery.min.js')
        script(src='/resume/vendor/bootstrap/js/bootstrap.bundle.min.js')
        // Plugin JavaScript
        script(src='/resume/vendor/jquery-easing/jquery.easing.min.js')
        // Custom scripts for this template
        script(src='/resume/js/resume.min.js')
